# Docastne soubory a logy
log/
*.log
temp/

# Konfiguracni soubory
# Povoleni konfiguracnich souboru v korenovem adresari
!.gitignore
!.htaccess
!web.config

# Zakaz lokalnich konfiguracnich souboru
app/config/config.local.neon

# Stazene balicky balickovacich systemu
vendor/
node_modules/

# Ostatni
other/
/Notes.txt