#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:


application:
    errorPresenter: Error
    mapping:
        *: App\*Module\Presenters\*Presenter


session:
    expiration: 14 days


database:
    dsn: 'mysql:host=127.0.0.1;port=3306;dbname=nette-test'
    user: root
    password:
    options:
        lazy: yes


services:
    - App\Model\UserManager
    - App\Forms\FormFactory
    - App\Forms\SignInFormFactory
    - App\Forms\SignUpFormFactory
    router: App\RouterFactory::createRouter

extensions:
    # https://github.com/h4kuna/date-filter
    dateFilterExtension: h4kuna\DateFilter\DI\DateFilterExtension

dateFilterExtension:
    formats:
        cs:
            day: D
            date: j. n. Y
            wordDate: j. F Y
            dateTime: j. n. Y H:i:s
        en-us:
            day: D
            date: d/m/Y
            wordDate: 'F j, Y'
            dateTime: d/m/Y H:i:s
    dayMonth:
        cs:
            # days:
            l: # long
                Monday: Pondělí
                Tuesday: Úterý
                Wednesday: Středa
                Thursday: Čtvrtek
                Friday: Pátek
                Saturday: Sobota
                Sunday: Neděle

            D: # short
                Mon: Po
                Tue: Út
                Wed: St
                Thu: Čt
                Fri: Pá
                Sat: So
                Sun: Ne

            # months:
            F: # long
                January: ledna
                February: února
                March: března
                April: dubna
                May: května
                June: června
                July: července
                August: sprna
                September: září
                October: října
                November: listopadu
                December: prosince

            M: # short
                Jan: Led
                Feb: Úno
                Mar: Bře
                Apr: Dub
                May: Kvě
                Jun: Čvn
                Jul: Čvc
                Aug: Srp
                Sep: Zář
                Oct: Říj
                Nov: Lis
                Dec: Pro
        en-us: []